[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
behave = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
click = "*"
html5lib = "*"
python-dateutil = "*"
colorama = "*"

[requires]
python_version = "3.8"
